/* The Modal (background) */
.modal-type-1 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-type-1 {
    background-color: #fefefe;
    margin: 7% auto; /* 7% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 45%; /* Could be more or less, depending on screen size */
    transition: all .5 ease-in;
}

/* The Close Button */
.close-type-1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0.7;
}

.close-type-1:hover,
.close-type-1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.padding-modal {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px
}

.text-daftar {
    color: green;
}

.text-daftar:hover {
    color: #016601;
    text-decoration: none;
}