/* The Modal (background) */
.card-type-1 {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.back-image {
    background-image: url(../../../assets/logo.png);
}

/* Modal Content/Box */
.card-content-type-2 {
    background-color: #fefefe;
    margin: 2% 45%; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 45%; /* Could be more or less, depending on screen size */
}

.card-padding {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px
}

.to-home {
    color: black;
    z-index: 1;
    font-size: 30px;
}

.to-home:hover {
    color: black;
    text-decoration: none;
}